
body {
    justify-content: space-around !important;
    min-height: 100vh !important;
    display: flex !important;
    align-items: center !important;
    text-align: center !important;
}

h1 {
    color: #003300;
    font-size: 100px;
    text-align: center !important;
}
